<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        
        <script src="/js/jquery.js"></script>
        
        <script src="/js/parse.js"></script>
        
        <script src="/js/marked.js"></script>
        
        <script src="/js/app.js"></script>
    </head>
    <body>
        <h1>Simple Parse Blog</h1>
            
        <h2>Posts</h2>
        
        <div id="blogEntries"></div>
        
        <script type="text/template" id="blogEntryTemplate">
            <article>
                <h3><%= get('title') %></h3>
                
                <time datetime="<%= updatedAt %>">
                    <%= updatedAt %>
                </time>
                
                <%= marked(get('content')) %>
            </article>
        </script>
    </body>
</html>